<div class="w-full">
  <div class="overflow-x-auto">
    <section class="flex gap-2 my-2">
      <button mat-button (click)="openCreateDialog()" id="create-button"
              class="card-border shadow-animation2 text-white">Create</button>
      <mat-form-field class="w-full" color="accent">
        <mat-label>Search...</mat-label>
        <input matInput type="text" [(ngModel)]="searchText">
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </section>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z w-full card-border">
      <!-- Position Column -->
      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index;">{{ (pageIndex) * pageSize + i + 1 }} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <!-- name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.enName}} </mat-cell>
      </ng-container>
.
      3
      <!-- description Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <!-- img Column -->
      <ng-container matColumnDef="img">
        <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img alt="" src="{{element.img}}" width="34" height="34" decoding="async"
               data-nimg="1" class="h-8 w-8" loading="lazy" style="color: transparent;">
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button (click)="openEditDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="delete(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-template matNoDataRow>
        <td class="flex justify-center pt-3 pb-1" [attr.colspan]="displayedColumns.length">
          No data available!
        </td>
      </ng-template>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
                   class="text-sm card-border mt-2 bg-[#FFDF7E]"
                   (page)="handlePageEvent($event)"
                   [length]="length"
                   [pageSize]="pageSize"
                   [disabled]="disabled"
                   [showFirstLastButtons]="true"
                   [hidePageSize]="true"
                   [pageIndex]="pageIndex"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>
