<div class="mt-10">
  <header class="flex items-center flex-col mb-4 container">
    <p class="mt-2 text-base text-zinc-600 dark:text-zinc-400">
      {{tournament?.startDate | date:'dd.MM.yyyy HH:mm '  : 'UTC' + 6}}
    </p>
    <h1 class="text-4xl font-bold tracking-tight text-black sm:text-5xl">
      {{tournament?.name}}
    </h1>
  </header>
  <div class="container">
    <mat-tab-group color="accent" animationDuration="0ms" dynamicHeight>
      <mat-tab label="{{'Review' | uppercase}}">
        <div class="grid grid-cols-12 my-6 gap-4">
          <div class="col-span-8 card-border mb-auto">
            <div class="py-8 px-8">
              <h1 class="text-3xl mb-2 font-bold tracking-tight text-black">
                {{tournament?.subtitle}}
              </h1>
              <div *ngIf="tournament?.description" [innerHTML]="tournament?.description"></div>
            </div>
          </div>
          <div class="col-span-4">
            <div class="card-border px-6 py-8 mb-auto shadow-animation">
              <div class="border-b pb-12 flex items-center gap-2">
                <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md
                            shadow-zinc-800/5 ring-zinc-900/5 dark:border dark:border-zinc-700/50">
                  <img alt="" src="/assets/icons/user.svg" width="32" height="32" decoding="async"
                       data-nimg="1" class="h-8 w-8" loading="lazy" style="color: transparent;">
                </div>
                <div>
                  <h1>{{organizer?.name}}</h1>
                  <h3 class="text-[#69C6AC] text-sm">{{organizer?.email}}</h3>
                </div>
              </div>
              <div class="border-b py-8">
                <h3 class="text-sm text-gray-500">City</h3>
                <h4>{{city?.enName}}</h4>
              </div>

              <div class="border-b py-8">
                <h3 class="text-sm text-gray-500">Location</h3>
                <h4>{{tournament?.location}}</h4>
              </div>
              <div class="border-b py-8">
                <h3 class="text-sm text-gray-500">Category</h3>
                <h4>{{category?.enName}}</h4>
              </div>
              <div class="border-b py-8">
                <h3 class="text-sm text-gray-500">Start date</h3>
                <h4 class="mb-4">{{tournament?.startDate | date:'dd.MM.yyyy HH:mm '  : 'UTC' + 6}}</h4>
                <h3 class="text-sm text-gray-500">End date</h3>
                <h4>{{tournament?.endDate | date:'dd.MM.yyyy HH:mm '  : 'UTC' + 6}}</h4>
              </div>
              <div class="pt-12">
                <h3 class="text-sm text-gray-500">Prize fund</h3>
                <h4>{{tournament?.prizeFund}}KZT</h4>
              </div>
            </div>
            <div class="mt-2">
              <button *ngIf="viewSubscribeButton" (click)="subscribeToTournament()"
                      mat-raised-button color="accent">Subscribe</button>
              <button *ngIf="!viewSubscribeButton" (click)="unSubscribeToTournament()"
                      mat-raised-button color="accent">Unsubscribe</button>
              <button mat-stroked-button color="accent" [routerLink]="'/tournaments'">← Back to tournaments</button>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="{{'Teams' | uppercase}}">
        <div class="my-6">
          <div class="flex gap-3">
            <mat-form-field class="w-full" color="accent">
              <mat-label>Status</mat-label>
              <mat-select [(ngModel)]="selectedStatus">
                <mat-option [value]="true">{{'All'}}</mat-option>
                <mat-option [value]="false">{{'Participants'}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="w-full" color="accent">
              <mat-label>Search...</mat-label>
              <input matInput type="text" [(ngModel)]="searchText">
              <button matSuffix mat-icon-button aria-label="Clear" (click)="get()">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <mat-table [dataSource]="dataSource" class="mat-elevation-z w-full card-border">
            <!-- Position Column -->
            <ng-container matColumnDef="index">
              <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>
            <ng-template matNoDataRow>
              <td class="flex justify-center pt-3 pb-1" [attr.colspan]="displayedColumns.length">
                No data available!
              </td>
            </ng-template>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>
          <mat-paginator #paginator
                         class="demo-paginator"
                         (page)="handlePageEvent($event)"
                         [length]="length"
                         [pageSize]="pageSize"
                         [disabled]="disabled"
                         [showFirstLastButtons]="showFirstLastButtons"
                         [hidePageSize]="true"
                         [pageIndex]="pageIndex"
                         aria-label="Select page">
          </mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="{{'Grid' | uppercase}}">

        <div class="grid grid-cols-10 border-[1.5px] border-black rounded-xl p-6 gap-4 mt-4">
          <div class="box-col">
            <div>
              <mat-form-field class="w-full" color="accent">
                <mat-label>Player</mat-label>
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="absolute border-[1.5px] border-black border-l-0 py-[45px] rounded-r-xl w-4 -right-[15px] top-[27px]">
              <div class="border-t-[1.5px] border-black w-3 absolute -right-3"></div>
            </div>
            <div>
              <mat-form-field class="w-full" color="accent">
                <mat-label>Player</mat-label>
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full" color="accent">
                <mat-label>Player</mat-label>
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="absolute border-[1.5px] border-black border-l-0 py-[45px] rounded-r-xl w-4 -right-[15px] top-[211px]">
              <div class="border-t-[1.5px] border-black w-3 absolute -right-3"></div>
            </div>
            <div>
              <mat-form-field class="w-full" color="accent">
                <mat-label>Player</mat-label>
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="box-col">
            <div>
              <mat-form-field class="w-full" color="accent">
                <mat-label>Player</mat-label>
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="absolute border-[1.5px] border-black border-l-0 py-[90px] rounded-r-xl w-4 -right-[15px] top-[73px]">
              <div class="border-t-[1.5px] border-black w-3 absolute -right-3"></div>
            </div>
            <div>
              <mat-form-field class="w-full" color="accent">
                <mat-label>Player</mat-label>
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="box-col">
            <div>
              <mat-form-field class="w-full" color="accent">
                <mat-label>Winner</mat-label>
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="box-col">
            <div>
              <mat-form-field class="w-full" color="accent">
                <mat-label>Player</mat-label>
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="absolute border-[1.5px] border-black border-r-0 py-[90px] rounded-l-xl w-4 -left-[15px] top-[73px]">
              <div class="border-t-[1.5px] border-black w-3 absolute -left-3"></div>
            </div>
            <div>
              <mat-form-field class="w-full" color="accent">
                <mat-label>Player</mat-label>
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="box-col">
            <div>
              <mat-form-field class="w-full" color="accent">
                <mat-label>Player</mat-label>
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="absolute border-[1.5px] border-black border-r-0 py-[45px] rounded-l-xl w-4 -left-[15px] top-[27px]">
              <div class="border-t-[1.5px] border-black w-3 absolute -left-3"></div>
            </div>
            <div>
              <mat-form-field class="w-full" color="accent">
                <mat-label>Player</mat-label>
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="w-full" color="accent">
                <mat-label>Player</mat-label>
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="absolute border-[1.5px] border-black border-r-0 py-[45px] rounded-l-xl w-4 -left-[15px] top-[211px]">
              <div class="border-t-[1.5px] border-black w-3 absolute -left-3"></div>
            </div>
            <div>
              <mat-form-field class="w-full" color="accent">
                <mat-label>Player</mat-label>
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user">{{user.username}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
