.shadow-animation {
  @apply hover:-translate-y-[6px] hover:-translate-x-[6px] duration-300 hover:shadow-[6px_6px_black];
}
::ng-deep .mdc-text-field--filled {
  @apply border-b-0;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  @apply bg-white border-[1.5px] border-black rounded-xl -mb-2;
}

::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
  @apply bg-[#69C6AC] text-white mr-1 rounded-xl hover:bg-black duration-150;
}

::ng-deep .mat-mdc-button:not(:disabled) {
  color: var(--mdc-text-button-label-text-color, inherit);
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  border: 1.5px solid !important;
  border-radius: 10px !important;
  margin-bottom: -10px;
}
